DATABASE_URL=postgresql+psycopg://YOUR_DATABASE_USER@/job_tracker?host=/tmp
JWT_SECRET_KEY=replace_with_a_random_secret
TEST_DATABASE_URL=postgresql+psycopg://YOUR_DATABASE_USER@/job_tracker_test?host=/tmp